@model ShoppingCart;


@if (Model == null || Model.Lines == null)
{
    <div>No items have been put in this shopping list.</div>
}
else
{
    <div class="container">

        <div class="row justify-content-start" style="margin:20px">
            <div style="font-size:x-large">Created date: @Model.DateCreated</div>
        </div>
        <div class="row" style="margin-top:20px">
        @foreach (var i in Model.Lines)
        {
            <div class="col-4" style="margin-right:10%; margin-top:15px">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@i.Item.Name</h5>
                        <p class="card-text">Price: $@i.Item.Price</p>
                        <input type="hidden" id="Price" value="@i.Item.Price">
                        <p id="QuantityDisplay" class="card-text">Amount: @i.Quantity</p>
                        <input type="hidden" id="Quantity" value="@i.Quantity">
                        <input class="btn-primary" type="button" id="btnAdd" itemId="@i.Item.Id" value="Add">
                        <input class="btn-primary" type="button" id="btnRemove" itemId="@i.Item.Id" value="Remove">


                    </div>
                </div>
            </div>
        }
        </div>
        <div class="row">
            <div class="col">
                <div id="TotalPriceDisplay" class="d-inline" style="margin-top:30px; font-size:larger">Total cost: $</div>
                <div id="TotalPriceValue" class="d-inline" style="font-size:larger" font-size:larger">@Model.Lines.Sum(l => l.Quantity * l.Item.Price).ToString()</div>
            </div>
        </div>
    </div>
}
